@font-face {
	font-family: bit;
	src: url(/assets/bit.otf);
}
body {
	width: 100%;
	height: 100%;
	font-family: 'Varela', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #2b2b2b;
	padding-top: 55px;
	color: #ababab;
}
h1, h2, h3, h4 {
	color: white;
}
.btn {
	border-radius: 0;
}
.form-control {
	border-radius: 0px;
	border-width: 2px;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
	monospace;
}

hr {
	background-color: white;
}

.bg-dark {
	background-color: #202020 !important;
}

/* header */

.carousel-item {
	height: 45vh;
	min-height: 300px;
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	text-align: center;
}
.slide {
	text-align: center;
	position: relative;
	top: 50%;
}
.slide-cap {
	transform: translateY(-100%);
}
.carousel-button {
	transform: translateY(-100%);
}

/* end header */
/* content */

.container.content .row > div {
	background-clip: padding-box;
	padding: 20px;
}
.song-list {
	margin: 20px 0 20p;
	padding: 0;
	list-style: none;
}
.song-list > li {
	width: 100%;
	min-height: 100px;
	background: #252525;
	margin-bottom: 20px;
}
.song-list > li .song-header {
	width: 100%;
	background: #ffffff45;
	padding: 20px;
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.song-list > li .song-header .song-title {
	font-size: 22px;
	color: white;
	display: inline-block;
	height: 40px;
	line-height: 40px;
	vertical-align: top;
	margin-left: 15px;
	letter-spacing: 0.5px;
	max-width: 90%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	position: relative;
	z-index: 5;
}
.song-list > li .song-header .btn.playback-btn {
	width: 40px;
	height: 40px;
	background: transparent;
	border-color: transparent;
	display: inline-block;
	vertical-align: top;
	position: relative;
	transition: text-shadow 200ms;
	z-index: 5;
}
.song-list > li .song-header .btn.playback-btn:active {
	text-shadow: 0 0 20px rgba(255,255,255,0.6);
}
.song-list > li .song-header .btn.playback-btn:focus {
	box-shadow: unset;
}
.song-list > li .song-header .btn.playback-btn:after {
	font-family: 'FontAwesome', sans-serif;
	font-size: 26px;
	display: block;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	line-height: 40px;
	text-shadow: 0 0 0 0.2rem rgba(248,249,250,.5);
	color: white;
}
.song-list > li .song-header .btn.playback-btn.pause-btn:after {
	content: "\f04c";
}
.song-list > li .song-header .btn.playback-btn.play-btn:after {
	content: "\f04b";
}
.song-list > li > div:nth-child(2) {
	text-align: right;
	flex: 1;
}
.song-list > li .song-header .buttons-container {
	list-style: none;
	margin: 0;
	padding: 0;
	display: inline-block;
	vertical-align: middle;
}
.song-list > li .song-header .buttons-container > * {
	width: 30px;
	height: 30px;
	line-height: 30px;
	position: relative;
	background: rgba(255,255,255,0.1);
	border: unset;
	margin-left: 5px;
}
.song-list > li .song-header .buttons-container > *:active {
	background: rgba(255,255,255,0.2);
}
.song-list > li .song-header .buttons-container > * > i {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 12px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
}
.song-list > li .song-header .song-artist {
	color: #bfbfbf;
	text-align: right;
	text-decoration: none;
	transition: color 200ms;
	display: inline-block;
	vertical-align: middle;
	margin-left: 20px;
}
.song-list > li .song-header .song-artist:hover {
	color: white;
}
.song-list > li .song-header .song-artist .name {
	font-size: 16px;
	line-height: 13px;
}
.song-list > li .song-header .song-artist .username {
	font-size: 10px;
	margin-top: 2px;
}
.song-list > li .song-header .play-progress {
	position: absolute;
	bottom: 0;
	left: 0;
	max-width: 100%;
	height: 10px;
	background: #ffffff1a;
	z-index: 1;
}
.song-list > li .song-body {
	min-height: 56px;
	padding: 10px 20px;
	color: #757575;
	font-size: 12px;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.song-list > li .song-body .song-rating {
	height: 100%;
	display: flex;
	align-items: center;
}
.song-list > li .song-body .song-rating .star {
	width: 30px;
	height: 30px;
	position: relative;
}
.song-list > li .song-body .song-rating.changeable .star {
	cursor: pointer;
}
.song-list > li .song-body .song-rating .star:before,
.song-list > li .song-body .song-rating .star:after {
	position: absolute;
	top: 0;
	left: 5px;
	width: 20px;
	height: 30px;
	line-height: 30px;
	text-align: left;
	font-size: 22px;
	font-family: FontAwesome, sans-serif;
	content: "\f005";
	color: #444444;
}
.song-list > li .song-body .song-rating .star.active:before {
	color: #d4b200;
}
.song-list > li .song-body .song-rating .star:after {
	color: transparent;
}
.song-list > li .song-body .song-rating .star.full:after,
.song-list > li .song-body .song-rating .star.half:after {
	color: #ffffff75;
}
.song-list > li .song-body .song-rating .star.half:after {
	content: "\f089";
}
.song-list > li .song-body .song-rating .star.hover:after {
	color: #dcdcdc;
	content: "\f005";
}
.song-list > li .song-body .song-dates {
	text-align: right;
}
.song-list > li .song-body .song-dates .song-creation-date,
.song-list > li .song-body .song-dates .song-update-date {
	display: block;
}
.song-list-footer {
	text-align: center;
	margin-bottom: 20px;
}
.song-list-footer .btn {
	background: rgba(255,255,255,0.1);
	border: unset;
	color: white;
	padding: 10px 30px;
	width: 50%;
}
.song-list-footer .btn:hover {
	background: rgba(255,255,255,0.2);
	color: white;
}

/* end content */
/* pages */

.form-login {
	text-align: left;
}
.form-login h1 {
	font-size: 30px;
	margin: 20px 0 15px;
}
.form-login input {
	/*margin: 0 auto;*/
}
.form-login .btn {
	padding-left: 20px;
	padding-right: 20px;
}
.form-login .captcha-group {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 15px;
}
.form-login .captcha-group .form-group {
	flex: 1;
	margin: 0;
}
.form-login .captcha-container {
	width: 150px;
	height: 50px;
	background: rgba(0,0,0,0.1);
	line-height: 50px;
	text-align: center;
	font-size: 12px;
	margin-right: 15px;
	border: 1px solid white;
	box-sizing: content-box;
}
.register-prompt h2 {
	font-size: 20px;
	margin: 0 0 10px;
}

.credits-block {
	text-align: center;
	padding: 30px;
	background: #FFFFFF09;
	background-clip: content-box;
}
.credits-block img {
	width: 100%;
	height: auto;
	margin: 0 auto;
}
.credits-block h3 {
	margin: 10px 0 3px;
}
.credits-block > a {
	display: inline-block;
	clear: both;
	margin-bottom: 15px;
}
.credits-block .scrollarea {
	height: 250px;
	margin-bottom: 10px;
}
.credits-block ul {
	margin: 0;
	padding: 10px 15px;
	font-size: 12px;
	list-style: none;
	text-align: left;
}
.credits-block ul li {
	margin-bottom: 2px;
	border-bottom: 1px dashed #FFFFFF0F;
	display: block;
	padding: 5px 0;
}

.account-name {
	text-align: center;
	font-family: bit;
	font-size: 60pt;
	margin: 40px 0 0;
	text-shadow: 5px 5px black;
}
.account-username {
	text-align: center;
	/*font-family: bit;*/
	font-size: 20pt;
	margin: -10px 0 20px;
	display: block;
}
.info-box {
	text-align: center;
	margin: 40px 0 20px;
}
.right-float {
	width: 300px;
	float: right;
	margin: 10px 30px;
}
.ins-img {
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 5px 5px 10px #202020;
}
.conclusion-progress {
	height: 30px;
	background-color: black;
}
.react-bar {
	width: 70%;
	height: 30px;
	font-weight: bold;
	font-size: 14pt;
	background-color: #b3b300;
	color: black;
}
.express-bar {
	width: 90%;
	height: 30px;
	font-weight: bold;
	font-size: 14pt;
	background-color: #b3b300;
	color: black;
}
.usage {
	height: 100px;
	display: inline;
	margin: 20px;
}
/* end pages */
