@font-face {
	font-family: bit;
	src: url(/assets/bit.otf);
}
body {
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #404040;
  padding-top: 55px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bg-dark {
  background-color: #202020 !important;
}

.carousel-item {
	  height: 45vh;
	  min-height: 300px;
	  background: no-repeat center center scroll;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover; 
	  text-align: center;
}
.carousel-button {
	position: absolute;
	bottom: 70px;
	transform: translateX(-50%);
}
.logo {
	text-align: center;
	font-family: bit;
	font-size: 80pt;
	margin-top: 20px;
	text-shadow: 5px 5px black;
}
.msec {
	box-shadow: 5px 5px black;
	background-color: #202020;
	color: white;
	margin: 20px 50px 20px 50px;
	padding: 10px;
}
.sublogo {
	color: white;
	text-align: center;
	font-size: 16pt;
}
.song-list {
	background-color: #101010;
	box-shadow: 5px 5px black;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.artist-name {
	float: right;
}
.song-title {
	margin-left: 20px;
	font-size: 16pt;
}
.form-signin {
    margin: auto;
    width: 400px;
}
