.song-list {
	margin: 20px 0 20p;
	padding: 0;
	list-style: none;
}
.song-list > li {
	width: 100%;
	min-height: 100px;
	background: #252525;
	margin-bottom: 20px;
}
.song-list > li .song-header {
	width: 100%;
	background: #ffffff45;
	padding: 20px;
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.song-list > li .song-header .song-title {
	font-size: 22px;
	color: white;
	display: inline-block;
	height: 40px;
	line-height: 40px;
	vertical-align: top;
	margin-left: 15px;
	letter-spacing: 0.5px;
	max-width: 90%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	position: relative;
	z-index: 5;
}
.song-list > li .song-header .btn.playback-btn {
	width: 40px;
	height: 40px;
	background: transparent;
	border-color: transparent;
	display: inline-block;
	vertical-align: top;
	position: relative;
	transition: text-shadow 200ms;
	z-index: 5;
}
.song-list > li .song-header .btn.playback-btn:active {
	text-shadow: 0 0 20px rgba(255,255,255,0.6);
}
.song-list > li .song-header .btn.playback-btn:focus {
	box-shadow: unset;
}
.song-list > li .song-header .btn.playback-btn:after {
	font-family: 'FontAwesome', sans-serif;
	font-size: 26px;
	display: block;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	line-height: 40px;
	text-shadow: 0 0 0 0.2rem rgba(248,249,250,.5);
	color: white;
}
.song-list > li .song-header .btn.playback-btn.pause-btn:after {
	content: "\f04c";
}
.song-list > li .song-header .btn.playback-btn.play-btn:after {
	content: "\f04b";
}
.song-list > li > div:nth-child(2) {
	text-align: right;
	flex: 1;
}
.song-list > li .song-header .buttons-container {
	list-style: none;
	margin: 0;
	padding: 0;
	display: inline-block;
	vertical-align: middle;
}
.song-list > li .song-header .buttons-container > * {
	width: 30px;
	height: 30px;
	line-height: 30px;
	position: relative;
	background: rgba(255,255,255,0.1);
	border: unset;
	margin-left: 5px;
}
.song-list > li .song-header .buttons-container > *:active {
	background: rgba(255,255,255,0.2);
}
.song-list > li .song-header .buttons-container > * > i {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 12px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
}
.song-list > li .song-header .song-artist {
	color: #bfbfbf;
	text-align: right;
	text-decoration: none;
	transition: color 200ms;
	display: inline-block;
	vertical-align: middle;
	margin-left: 20px;
}
.song-list > li .song-header .song-artist:hover {
	color: white;
}
.song-list > li .song-header .song-artist .name {
	font-size: 16px;
	line-height: 13px;
}
.song-list > li .song-header .song-artist .username {
	font-size: 10px;
	margin-top: 2px;
}
.song-list > li .song-body {
	min-height: 56px;
	padding: 10px 20px;
	color: #757575;
	font-size: 12px;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.song-list > li .song-body .song-dates {
	text-align: right;
}
.song-list > li .song-body .song-dates .song-creation-date {
	display: block;
}
